<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

    <appender name="STDOUT-SPRING" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="com.excilys.logger.StdOutFilter" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                SPRING | [%thread] %-6level %logger - %msg %n
            </Pattern>
        </layout>
    </appender>
    <appender name="STDERR-SPRING" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="com.excilys.logger.ErrOutFilter" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                SPRING | [%thread] %-6level %logger - %msg %n
            </Pattern>
        </layout>
    </appender>

    <appender name="STDOUT-CDB" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <filter class="com.excilys.logger.StdOutFilter" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                Computer-database | %-6level %logger{36} - %msg %n
            </Pattern>
        </layout>
    </appender>
    <appender name="STDERR-CDB" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <filter class="com.excilys.logger.ErrOutFilter" />
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                Computer-database | %-6level %logger{36} - %msg %n
            </Pattern>
        </layout>
    </appender>

    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="STDOUT-SPRING" />
        <appender-ref ref="STDERR-SPRING" />
    </logger>

    <logger name="com.excilys" level="INFO" additivity="false">
        <appender-ref ref="STDOUT-CDB" />
        <appender-ref ref="STDERR-CDB" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT-CDB" />
        <appender-ref ref="STDERR-CDB" />
        <appender-ref ref="STDOUT-SPRING" />
        <appender-ref ref="STDERR-SPRING" />
    </root>

</configuration>