<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/css/**" security="none"/>
	<http pattern="/fonts/**" security="none"/>
	<http pattern="/js/**" security="none"/>

    <!-- enable use-expressions -->
	<http auto-config="true" use-expressions="true">
			
		<intercept-url pattern="/login**" access="permitAll" />
		<intercept-url pattern="/logout**" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" />
		<intercept-url pattern="/" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" method="GET"/>
		<intercept-url pattern="/computers" access="hasAnyRole('ROLE_USER','ROLE_ADMIN')" method="GET"/>
		<intercept-url pattern="/computers" access="hasRole('ROLE_ADMIN')" method="POST"/>
		<intercept-url pattern="/computers/**" access="hasRole('ROLE_ADMIN')" />
		
		<!-- access denied page -->
		<access-denied-handler error-page="/403" />
		<form-login 
		    login-page="/login" 
		    login-processing-url="/j_spring_security_check"
		    default-target-url="/computers" 
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="passwd" />
        
		<!-- enable csrf protection -->
		<csrf/>
	</http>
		
	<authentication-manager>
		<authentication-provider user-service-ref="userService" >
			<password-encoder hash="plaintext"/>  <!-- hash="bcrypt" -->    
		</authentication-provider>
	</authentication-manager>


</beans:beans>
