<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	version="3.0">
	<display-name>Archetype Created Web Application</display-name>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath:./applicationContext.xml</param-value>
	</context-param>
	
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener> 

	<welcome-file-list>
		<welcome-file>/dashboard</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.excilys.servlets.DashboardServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddComputerServlet</servlet-name>
		<servlet-class>com.excilys.servlets.AddComputerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditComputerServlet</servlet-name>
		<servlet-class>com.excilys.servlets.EditComputerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddComputerServlet</servlet-name>
		<url-pattern>/add-computer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditComputerServlet</servlet-name>
		<url-pattern>/edit-computer</url-pattern>
	</servlet-mapping>
	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/views/500.html</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/views/403.html</location>
	</error-page>
	<error-page>
		<error-code>404</error-code>
		<location>/views/404.html</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/views/500.html</location>
	</error-page>
</web-app>